@charset "UTF-8";
body{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;   
}   
h1{
    color: coral;


}
h2{
    background-color: dimgray;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}